<p-toast position="center"></p-toast>
<p-confirmPopup></p-confirmPopup>
<form  #form="ngForm" (ngSubmit)="onExecute(form)">
	<div class="col-12 w-100">
		<div class="row mt-2">
			<div class="col-12">
				<div class="row">
					<div class="col-11 mt-1 mb-1 text-left"><mat-label class="font-weight-bold">ПАСПОРТ</mat-label></div>
				</div>

				<div class="row">
					<div class="col-3 mt-1 mb-1 text-left"><mat-label>Паспорт иного государства</mat-label></div>
					<div class="col-8 mt-1 mb-1 text-left">
						<mat-checkbox name="passport_another_country" tabIndex="1"  required="false" [(ngModel)]="passport_another_country"></mat-checkbox>
					</div>
					<div class="informer">
						<button mat-icon-button color="primary" type="button" (click)="info($event,infoMessage.passport_another_country)"><i class="pi pi-info-circle"></i> </button>
					</div>
				</div>

				<div class="row">
					<div class="col-3 mt-1 mb-1 text-left"><mat-label>Серия паспорта</mat-label></div>
					<div class="col-8 mt-1 mb-1">
						<input (change)="change()" name="serial-ps" type="tel"  tabIndex="2" class="form-control" [(ngModel)]="s_pasp"/>
					</div>
					<div class="informer">
						<button mat-icon-button color="primary" type="button" (click)="info($event,infoMessage.passport_seria)"><i class="pi pi-info-circle"></i> </button>
					</div>
				</div>

				<div class="row">
					<div class="col-3 mt-1 mb-1 text-left"><mat-label>Номера паспорта</mat-label></div>
					<div class="col-8 mt-1 mb-1">
						<input (change)="change()" name="numb-ps" type="tel" tabIndex="3"  class="form-control" [(ngModel)]="n_pasp"/>
					</div>
					<div class="informer">
						<button mat-icon-button color="primary" type="button" (click)="info($event,infoMessage.passport_num)"><i class="pi pi-info-circle"></i> </button>
					</div>
				</div>

				<div class="row">
					<div class="col-3 mt-1 mb-1 text-left"><mat-label>* Дата выдачи паспорта</mat-label></div>
					<div class="col-8 mt-1 mb-1">
						<input type="date" name="datav-ps" (change)="change()" required tabIndex="4"  class="form-control" [(ngModel)]="datav_ps" max="9999-12-12" />
					</div>
					<div class="informer">
						<button mat-icon-button color="primary" type="button" (click)="info($event,infoMessage.passport_data)"><i class="pi pi-info-circle"></i> </button>
					</div>
				</div>

				<div class="row">
					<div class="col-3 mt-1 mb-1 text-left"><mat-label>* Кем выдан паспорт (код подразделения)</mat-label></div>
					<div class="col-8 mt-1 mb-1">
						<ng-select
							name="kod_podr"
							class="text-left"
							tabIndex="5"
							appendTo="body"
							[items]="kod_podr"
							[virtualScroll]="true"
							bindLabel="NAME"
							notFoundText="Не найдено"
							placeholder="Выберите..."
							required
							loadingText="Загрузка..."
							[searchFn]="searchNAME"
							[selectOnTab]="true"
							[loading]="loadingKod"
							[(ngModel)]="selectKodPodr"
							(change)="onSelectKod(selectKodPodr)"
						>
						</ng-select>
					</div>
					<div class="informer">
						<button mat-icon-button color="primary" type="button" (click)="info($event,infoMessage.passport_kod)"><i class="pi pi-info-circle"></i> </button>
					</div>
				</div>

				<div class="row">
					<div class="col-3 mt-1 mb-1 text-left"><label class="d-inline-block">* Сканкопия паспорта</label></div>
					<div class="col-8 mt-1 mb-1"><app-file-upload (change)="change()" name="scan_ps"  [required]="true" tabIndex="6" [config]="fileConfig" [(scan)]="sc_pasp"></app-file-upload></div>
					<div class="informer">
						<button mat-icon-button color="primary" type="button" (click)="info($event,infoMessage.passport_scan)"><i class="pi pi-info-circle"></i> </button>
					</div>
				</div>

				<div class="row">
					<div class="col-11"><hr></div>
				</div>
				<div class="row">
					<div class="col-3 mt-1 mb-1 text-left"><mat-label>* Ф.И.О. заявителя</mat-label></div>
					<div class="col-8 mt-1 mb-1">
						<input (change)="change()" name="fio_ab" type="text" required tabIndex="7" class="form-control" [(ngModel)]="fio_ab"/>
					</div>
					<div class="informer">
						<button mat-icon-button color="primary" type="button" (click)="info($event,infoMessage.fio_own)"><i class="pi pi-info-circle"></i> </button>
					</div>
				</div>

				<div class="row">
					<div class="col-3 mt-1 mb-1 text-left"><mat-label>* Лицевой счет</mat-label></div>
					<div class="col-8 mt-1 mb-1">
						<input (change)="change()" name="accpu" type="text" required tabIndex="8" class="form-control" [(ngModel)]="selectItemAccpu"/>
					</div>
					<div class="informer">
						<button mat-icon-button color="primary" type="button" (click)="info($event,infoMessage.accpu_kvt)"><i class="pi pi-info-circle"></i> </button>
					</div>
				</div>

				<div class="row">
					<div class="col-3 mt-1 mb-1 text-left"><label>* Абоненты</label></div>
					<div class="col-8 mt-1 mb-1">
						<button type="button" mat-icon-button color="primary"  (click)="addSub()"><mat-icon>add</mat-icon></button>
						<button type="button" mat-icon-button color="warn"  (click)="delSub()"><mat-icon>remove</mat-icon></button>
					</div>
					<div class="informer">
						<button mat-icon-button color="primary" type="button" (click)="info($event,infoMessage.sub)"><i class="pi pi-info-circle"></i> </button>
					</div>
				</div>

				<div *ngFor="let sub of subs; let i = index" class="sub" #sub>
					<div class="row">
						<div class="col-3 mt-1 mb-1 text-left"><mat-label>	* Ф.И.О. временно отсутствующего потребителя</mat-label></div>
						<div class="col-8 mt-1 mb-1">
							<input type="text" name="fio_{{i}}" (change)="change()"  tabIndex="9" required class="form-control" [(ngModel)]="sub.fio"/>
						</div>
						<div class="informer">
							<button mat-icon-button color="primary" type="button" (click)="info($event,infoMessage.fio_ab)"><i class="pi pi-info-circle"></i> </button>
						</div>
					</div>

					<div class="row">
						<div class="col-3 mt-1 mb-1 text-left"><mat-label>	* Дата начала временного отсутствия</mat-label></div>
						<div class="col-8 mt-1 mb-1">
							<input type="date" name="d_in_{{i}}" (change)="change()" required tabIndex="10" class="form-control" [(ngModel)]="sub.d_in" max="9999-12-12" />
						</div>
						<div class="informer">
							<button mat-icon-button color="primary" type="button" (click)="info($event,infoMessage.data_begin_ab)"><i class="pi pi-info-circle"></i> </button>
						</div>
					</div>

					<div class="row">
						<div class="col-3 mt-1 mb-1 text-left"><mat-label>	* Дата окончания временного отсутствия</mat-label></div>
						<div class="col-8 mt-1 mb-1">
							<input type="date" name="d_out_{{i}}" (change)="change()" required tabIndex="11" class="form-control" [(ngModel)]="sub.d_out" max="9999-12-12" />
						</div>
						<div class="informer">
							<button mat-icon-button color="primary" type="button" (click)="info($event,infoMessage.data_end_ab)"><i class="pi pi-info-circle"></i> </button>
						</div>
					</div>

					<div class="row">
						<div class="col-11"><hr></div>
					</div>

				</div>

				<div class="row">
					<div class="col-3 mt-1 mb-1 text-left"><label class="d-inline-block">* Номер телефона</label></div>
					<div class="col-8 mt-1 mb-1"><input (change)="change()" tabIndex="12" name="phone" mask="0(000)000-00-00" required type="tel" class="form-control" [(ngModel)]="tel"/></div>
					<div class="informer">
						<button mat-icon-button color="primary" type="button" (click)="info($event,infoMessage.phone)"><i class="pi pi-info-circle"></i> </button>
					</div>
				</div>

				<div class="row" [formGroup]="registerForm">
					<div class="col-3 mt-1 mb-1 text-left"><label class="d-inline-block">Email-адрес</label></div>
					<div class="col-8 mt-1 mb-1">
						<input type="email" (change)="change()" formControlName="email" placeholder="example@domine.com" required tabIndex="13" class="form-control"/>
						<div *ngIf="f.email.errors" [ngClass]="{ 'is-invalid': f.email.errors }" class="invalid-feedback">
							<div *ngIf="f.email.errors.email">Введен некорректный Email-адрес</div>
						</div>
					</div>
					<div class="informer">
						<button mat-icon-button color="primary" type="button" (click)="info($event,infoMessage.email)"><i class="pi pi-info-circle"></i> </button>
					</div>
				</div>

				<div class="row">
					<div class="col-3 mt-1 mb-1 text-left"><label class="d-inline-block">Сканкопия заявления на перерасчет с подписью</label></div>
					<div class="col-8 mt-1 mb-1"><app-file-upload (change)="change()" name="scan"   tabIndex="14" [config]="fileConfig" [(scan)]="scan_id"></app-file-upload></div>
					<div class="informer">
						<button mat-icon-button color="primary" type="button" (click)="info($event,infoMessage.scan_statement)"><i class="pi pi-info-circle"></i> </button>
					</div>
				</div>

				<div class="row">
					<div class="col-3 mt-1 mb-1 text-left"><mat-label>Сканкопия акта обследования</mat-label></div>
					<div class="col-8 mt-1 mb-1">
						<app-file-upload (change)="change()" name="scan_act_inspection"  tabIndex="15" [config]="fileConfig" [(scan)]="act_scan"></app-file-upload>
					</div>
					<div class="informer">
						<button mat-icon-button color="primary" type="button" (click)="info($event,infoMessage.scan_act_see)"><i class="pi pi-info-circle"></i> </button>
					</div>
				</div>

				<div class="row">
					<div class="col-3 mt-1 mb-1 text-left"><mat-label>* Сканкопия документа, подтверждающая временное отсутствие</mat-label></div>
					<div class="col-8 mt-1 mb-1">
						<app-file-upload (change)="change()" name="timeout_scan"  [required]="true" tabIndex="16" [config]="fileConfig" [(scan)]="sc_miss"></app-file-upload>
					</div>
					<div class="informer">
						<button mat-icon-button color="primary" type="button" (click)="info($event,infoMessage.scan_doc_accp_esc)"><i class="pi pi-info-circle"></i> </button>
					</div>
				</div>
				<div class="row col-xl-12">
					<button mat-raised-button color="primary" tabIndex="17" type="submit" [disabled]="form.invalid  || loadingSubmit">
						<span *ngIf="loadingSubmit" class="spinner-border spinner-border-sm mr-1"></span>
						Отправить
					</button>
				</div>

			</div>
		</div>
	</div>
</form>
